<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h2>Edit a Landmark</h2>
  <p>
    <label>Landmark's Name</label>
    <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>">
  </p>
    <label>Change Year Created:</label>
    <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">
  </p>


  <input type="submit" value="Edit Landmark">
</form>
