<form action="/landmarks" method="post">
  <h2>Create a Landmark</h2>
  <p>
    <label>Landmark's Name</label>
    <input type="text" id="landmark_name" name="landmark[name]" value="">
  </p>
  <p>
    <label>Year Completed:</label><br>
    <input type="text" id="landmark_year_completed" name="landmark[year_completed]" placeholder="(Optional)" value="">
  </p>


  <input type="submit" value="Create New Landmark">
</form>
